/* TARGETS WHOLE PAGE */
*{
	margin: 0;
	padding: 0;
}

body{
	background: #222;
}

/* HIDES SCROLLBAR */
body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	padding: 0px 25%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

li{
  float: left;
}

.nav-right{
	float: right;
}

.nav-links{
	top: 0;
	position: sticky;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #555;
}

/* PAGE HEADER */
h3{
	color: white;
	font-size: 4.5rem;
	padding: 150px 90px 35px 90px;
}

.header-text{
	padding: 120px 0px;
	background: url("images/sakura.gif");
	background-size: 900px;
	background-position: 50% -607px;
	background-repeat: no-repeat;
/*	filter: invert(100%);*/
}

.header-bg{
	background-color: #333;
}

.header-text h2, 
.header-text p{
	color: #dadada;
	justify-content: center;
	display: flex;
}

.header-text h2{
	font-size: 6.5rem;
}

.header-text p{
	font-style: italic;
}

/* BODY CONTENT */
.body-container{
	height: 2000px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  grid-row-gap: 60px;
  padding: 0px 150px;
  font-family: VT323;
  color: #d7a3ab;
  text-transform: uppercase;
}

.grid-item {
/*  border: 1px solid rgba(0, 0, 0, 0.8);*/
  font-size: 30px;
}

.box-1,
.box-4,
.box-6{
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.box-6,
.box-7,
.box-10,
.box-11,
.box-14{
	display: flex;
  justify-content: center;
  align-items: center
}

.box-6 img,
.box-7 img,
.box-10 img,
.box-14 img{
	width: 100%;
}

.box-14{
	height: 750px;
	overflow: hidden;
	margin: auto;
}

.box-2,
.box-3,
.box-5,
.box-8,
.box-9,
.box-12,
.box-13{
	padding: 50px;
	margin: auto;
}

.box-2,
.box-4,
.box-6,
.box-8,
.box-10,
.box-12{
  text-align: left;
}

iframe{
	width: 100%;
	height: 100%;
}

.box-3 .art-credit,
.box-9 .art-credit,
.box-13 .art-credit{
	text-align: right;
}

.art-credit{
	color: yellow;
}

.art-credit a{
	text-decoration: none;
	color: deepskyblue;
	text-transform: none;
}

.box-5 a{
	text-decoration: none;
	color: deepskyblue;
	text-transform: none;
}
