/* TARGETS WHOLE PAGE */
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #333;
}

/* HIDES SCROLLBAR */
body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding: 0px 25%;
  min-width: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

.nav-right{
	float: right;
}

.nav-links{
	top: 0;
	position: sticky;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #555;
}

/* PAGE HEADER */
h3{
	color: white;
	font-size: 4.5rem;
	padding: 150px 0px 35px 0px;
}

.header-text{
	padding: 120px 0px;
	background: url("images/sakura.gif");
	background-size: 900px;
	background-position: 50% -607px;
	background-repeat: no-repeat;
/*	filter: invert(100%);*/
}

.header-bg{
	background-color: #333;
}

.header-text h2, 
.header-text p{
	color: #dadada;
	justify-content: center;
	display: flex;

}

.header-text h2{
	font-size: 6.5rem;
}

.header-text p{
	font-style: italic;
}

/* BODY CONTENT */
.body-container{
	height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  font-family: VT323;
  color: white;
  text-transform: uppercase;
}

/* BOX HOVER EFFECT */
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  width: 100%;
  padding: .5% 2%;
  box-sizing: border-box;
  height: 90%;
}

.container a{
  text-decoration: none;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  line-height: 0;
}

.box img {
  width: 100%;
  height: 80%;
  object-fit: cover; 
  object-position: center;
  transition: .5s;
}

.box span {
	font-family: VT323;
	color: white;
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 5;
}

.box:hover { flex: 1 1 50% }
.box:hover img {
  width: 100%;
  height: 100%;
}

.twt-link span{
	color: deepskyblue;
}

.rdt-link span{
	color: orange;
}

.game-link span{
	color: lawngreen;
}