*{
	margin: 0;
	padding: 0;
}

body{
	background: #160d1c;
}

.header h1{
	font-family: Aboreto;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	letter-spacing: 10px;
}

.title-1 {
	padding-top: 50px;
	font-size: 4rem;
	animation-name: title-scale;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.title-2{
	padding-top: 25px;
}

header{
	background: #160d1c;
	height: 325px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.featured-books{
	background: #312649;
	height: 80vh;
	/*width: 50vw;*/
}

.new-releases{
	/*background: #90b870;*/
	height: 200px;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.release{
	border: 1px solid black;
	height: 100%;
}

.db-box{
	background: #504f74
}

.lb-box{
	background: #78859a
}

@keyframes title-scale{
	0%{transform: scale(0.9);}
	50%{transform: scale(1.0);}
	100%{transform: scale(0.9);}
}