*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* HEADER CONTENT (MAIN TITLE TEXT) */

.header-text{
	background: url("images/sakura.gif");
	background-size: 900px;
	background-position: 50% -607px;
	background-repeat: no-repeat;
	filter: invert(100%);
}

/* AFFECTS THE CONTENT AFTER CLICK FUNCTION */
.header-bg{
	transition: 0.5s;
	background-color: #d7a3ab;
	height: 100vh;
	display: flex;
  align-items: center;
  justify-content: center;
}

.header-text h2, 
.header-text p{
	color: #dadada;
	justify-content: center;
	display: flex;

}

.header-text h2{
	font-size: 6.5rem;
}

.header-text p{
	font-style: italic;
}

/* AFFECTS THE DEFAULT CONTENT SEEN ON PAGE STARTUP */
.active{
	height: 100vh;
	background: lightcoral;
	filter: invert(100%);
}

.active li{
	font-size: 0px;
	padding: 0px;
}

.links{
	display: flex;
	align-items: center;
	justify-content: center;
}

.links li{
	padding: 0px 75px;

}

.links ul{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 2rem;
	list-style-type: none;
}

.links a{
	text-decoration: none;
	color: white;
	transition: 0.5s;
}

.selected a{
	color: #f7e5bc;
	text-shadow: 0px 0px 15px #f7e5bc;
}

.link a:hover{
	color: #f7e5bc;
	text-shadow: 0px 0px 15px #f7e5bc;
	font-size: 2.5rem;
}